body{
	font-family: tahoma, arial, sans-serif;
	font-size: 18pt;
}
table{
	width: 100%;
	border: 1px solid black;
	/*Removes the borders when there are overlaps between the border
	that the border: here makes and the border made by the border: in td{}*/
	border-collapse: collapse;
}
thead{
	font-size: 80%;
	font-weight: bold;
}
td{
	border: 1px solid black;
	/*top, right, bottom, left padding*/
	padding: 5px 5px  5px 10px;
}